# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# ===============================
# PyInstaller
# ===============================
build/
dist/
*.spec

# ===============================
# Docker
# ===============================
.docker/
docker/*.log

# ===============================
# OS files
# ===============================
# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store

# ===============================
# IDEs / Editors
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# Logs
# ===============================
*.log

# ===============================
# App-generated backups
# ===============================
*.bak
hosts.bak

# ===============================
# Environment files
# ===============================
.env
.env.*

# ===============================
# Temporary files
# ===============================
*.tmp
*.temp
